<div class="flex flex-col gap-3">
  <div>
    <input
      [(ngModel)]="light.name"
      class="p-3"
      type="text"
      id="lightName"
      placeholder="Light name"
    />
    <input
      [(ngModel)]="light.color"
      class="p-3"
      type="text"
      id="lightColor"
      placeholder="Light color"
    />
    <button
      class="bg-green-900 text-white rounded shadow p-3"
      (click)="lightService.addLight(light.name, light.color)"
    >
      add
    </button>
  </div>
  <div class="flex flex-wrap gap-3">
    <div *ngFor="let light of lightService.getAllLight()">
      <app-light
        [light]="light"
        (trigger)="handleTrigger(light.id)"
      ></app-light>
    </div>
  </div>
</div>
