<div class="flex flex-col items-center justify-center gap-3">
  <div
    class="rounded-2xl w-40 h-40 flex justify-center items-center transition ease-in"
    (click)="switchLight(light)"
    [ngClass]="light.toggled ? '' : 'bg-red-700'"
    [ngStyle]="{ background: light.toggled ? light.color : '' }"
  >
    <span class="text-white">{{ light.toggled ? "allumé" : "éteint" }}</span>
  </div>
  <div>{{ light.title }}</div>
  <div class="p-3 rounded bg-red-400" (click)="launchTrigger()">-</div>
</div>
